---
layout: 'base.njk'
---

<article class="main-article">
<div class="container container--narrow flow">
{% include 'social-float.njk' %}
    <h1 class="article-title">
      {{ title }}
    </h1>
    <p><span class="rtime">About {{ content | readingTime }} reading time </span></p>
    <figure class="main-article__figure">
      <img src="{{ image }}" alt="{{ imageAlt }}">
      <figcaption>
        {{ imageAlt }}
      </figcaption>
    </figure>
<div class="beaut">
    {{ content | safe }}
  </div>
</div>

<div class="art_meta">
  <p><b>Written by</b>
    <span>{{ author }}</span>
    on
    <span>{{ date | postDate }}</span></p>
</div>
</article>
