<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {# {% favicon '/favicon.svg' %} #}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600&family=Work+Sans:ital,wght@0,600;1,100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
<script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <title>{{ title }}</title>
  </head>
  <body>
    {% include 'header.njk' %}
    <main>
    {{ content | safe }}
    </main>
    {% include 'footer.njk' %}

<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
  $('a[href^="/#"]').on('click', function(e) {
    // prevent default anchor click behavior
    e.preventDefault();
    // store hash
    var hash = this.hash;
    // animate
    $('html, body').animate({
      scrollTop: $(hash).offset().top - 100
    }, 1000, function() {
      // when done, add hash to url
      // (default click behaviour)
      // window.location.hash = hash;
    });

  });
</script>
  </body>
</html>
