<header>
  <div class="osfcontain">
    <a class="logo" href="/"><img src="/assets/OSF-logo.svg" alt=""></a>

    <div class="menu">
    <ul>
      <li><a href="/#weare">About OSF</a></li>
      <li><a href="/#products">Brand Basket</a></li>
      <li><a href="/blog/">Blog</a></li>
      <li><a href="/#contact">Contact</a></li>
    </ul>
    </div>
    <div class="social">
      <ul>
        <li><a target="_blank" href="https://www.facebook.com/Old-School-Foods-113888357612020"><img src="/assets/icon-fb.svg" alt="OSF Facebook"></a></li>
        {# <li><a target="_blank" href="#"><img src="/assets/icon-insta.svg" alt="OSF Instagram"></a></li> #}
        <li><a target="_blank" href="https://wa.me/message/3KVST7Z2IZECK1"><img src="/assets/icon-wapp.svg" alt="connect on Whatsapp"></a></li>
        {# <li><a target="_blank" href="#"><img src="/assets/icon-linkd.svg" alt="View LinkedIn profile"></a></li>
        <li><a target="_blank" href="#"><img src="/assets/icon-yt.svg" alt="Youtube channel"></a></li>
        <li><a target="_blank" href="#"><img src="/assets/icon-tw.svg" alt="Twitter"></a></li> #}
        <li><a target="_blank" href="https://cutt.ly/1mI19iJ"><img src="/assets/icon-business.svg" alt="Google Business account"></a></li>
      </ul>
    </div>
    <div class="subhead">Food we Respect<br> is Food we Serve</div>
  </div>
</header>
