<article class="snippet">
  <img src="{{ milestone.data.image }}" alt="{{ milestone.data.imageAlt }}" class="snippet__image">
  <h3 class="snippet__title">
    <a href="{{ milestone.url }}">{{ milestone.data.title }}</a>
  </h3>
  <p class="snippet__meta">by
    <span>{{ milestone.data.author }}</span>
    on
    <span>{{ milestone.data.date | postDate }}</span></p>
  <p class="snippet__body">{{ milestone.data.description }}<br><br>
  <span class="rtime">About {{ milestone | readingTime }} reading time </span></p>

  <a href="{{ milestone.url }}" class="btn btn--primary">Continue Reading</a>
</article>
