:root {
  --clr-primary: #8C4B38;
  --clr-second: #662E19;
  --clr-light: #fff;
  --f-main: 'Work Sans', sans-serif;
  --fs-600: 1.4rem;
  --fs-500: 1.2rem;
  --fs-400: 1rem;
}

@font-face {
  font-family: 'Work Sans', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Work+Sans');
  font-weight: 200 600;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body, h1, h2, h3, p {
  margin: 0;
  font-variation-settings: "wght" 400;
}
a {text-decoration: none;color: var(--clr-primary);}
a:hover  {text-decoration: none;color: var(--clr-second);}

img.colicon {filter:invert(95%) sepia(10%) saturate(6336%) hue-rotate(300deg) brightness(99%) contrast(52%);}
a:hover img.colicon {filter: invert(20%) sepia(9%) saturate(5892%) hue-rotate(338deg) brightness(93%) contrast(92%);
  /* fill: var(--clr-second); */ animation-duration: 1s;
        animation-iteration-count: infinite;transform-origin: bottom;
}

section > * {padding:1rem 0;}
.bounce {
        animation-name: bounce;
        animation-timing-function: ease;
    }
    @keyframes bounce {
        0%   { transform: translateY(0); }
        50%  { transform: translateY(-5px); }
        100% { transform: translateY(0); }
    }
h1, h3 {
  font-variation-settings: "wght" 700;
}

h1, a > h1 {
  font-size: var(--fs-600);
}

h2 {
  letter-spacing: -0.75px;
  font-variation-settings: "wght" 700;
  font-size: xx-large;
}

h3, a > h3 {
  font-size: var(--fs-400);
  border: 1px solid;
    padding: 2px 0 2px 1rem;
    border-radius: 50px;
    margin-left: -0.75rem;
}

body {
  background: #fff;
  font-family: var(--f-main);
  color: var(--clr-primary);
}

main {display: grid;
grid-template-rows: 6rem 1fr auto;border: 3px solid #8C4B38;min-height: 100vh;align-items: center;}

.logo {display: flex; justify-content: space-between;}
.logo img {height:4rem;}
.socialicons img {height: 2.5rem;  margin: 0 0.5rem;}
.logo, .intro {
  padding: 1rem 2rem;
}
section {
  padding:2rem;
}
footer {
    background: var(--clr-second);
    color: var(--clr-light);
    padding: 1rem 2rem;
    text-align: right;
}
#current-year {
  font-size: 100%;
    color: white;
}
footer span {
  font-size: 90%; color: rgba(255, 255, 255, 0.5);
    line-height: 2rem;
}
.lic {
  display: inline-flex;
    gap: 1rem;
    align-items: center; 
    padding: 1rem 0;
}
.lic span {border-right:1px solid #646569;padding-right: 1rem;}
.lic span:last-child {
  border: 0px;
}
.lic img {
  height:20px;
}
.intro {
  display: flex;
  align-items: center;
  color: var(--clr-light);
  font-weight: 500;
  background: var(--clr-primary);
  justify-content: space-between;
}
.intro p {
  font-size: 1.2rem;
  font-variation-settings: "wght" 600;
}
.intro div {
  display: flex;
}
.topbtns {
  gap: 1rem;
}

.dflex {
    display: flex;
    justify-content: flex-start;
    gap:1rem;
}
.dflex .colinfo {
  border-bottom: none;
  grid-gap: 0.25rem;
}


@media screen and (max-width:768px) {
  .dflex, .lic {
    flex-direction: column;
  }
  .dflex {
    gap: 1.5rem;
  }
    .lic span {border-right:0px;padding-right: 0;}
    .lic {gap:1px; font-size:14px;}
}

.intro img {
  /* padding:0.5rem; */
}
.intro a {
  background: var(--clr-light);
  padding: 5px 20px;
  border-radius: 5px;
  width: 300px;
}

/* .intro a p {
  width: 250px;
  text-align: left;
} */

.intro .colinfo {
  display: grid;
  align-items: center;
  grid-gap: 0.25rem;
  grid-template-columns: 1fr 50px ;
  grid-row:1fr 1fr;
}
.intro .colinfo p { grid-row:1/2; grid-column: 1/3;padding: 0.5rem 0;}
.intro .colinfo h3 { grid-row:2/3; grid-column: 1/2;}
.intro .colinfo img { grid-row:2/3; grid-column: 2/3;}

section h1{
  /* margin-bottom: 1rem; */
  border-bottom: 1px solid var(--clr-primary);
}

.menubox {background-color: bisque;}
section.menubox .intro {
  background-color: bisque;
  justify-content: flex-start;
  grid-gap: 1rem;
  padding: 2rem 0;
}
section.menubox .intro a {box-shadow: 1px 2px 5px black;}
.cols {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(18rem, 100%), 1fr));
  align-items: start; grid-gap: 1.25rem;     align-items: stretch;
}

.cols>div {
  box-shadow: 2px 2px 8px #8c7676;
  display: grid;
  grid-template-columns: 8rem 1fr;
  border-radius: 5px;
  background: #fff;
}
.cols.corp>div .logo-hdr {grid-row: 1/3;align-self:self-start;}

.clients {
  display: grid;
  grid-template-columns: 200px 1fr;
  align-content: start;
  border-bottom: 1px solid;
}

.clients h4 {
  background: #8c4b38;
  padding: 1rem;
  color: #fff;

}
.twice {
  display: flex;
  box-shadow: none; 
  /* grid-template-columns: repeat(auto-fit, minmax(550px, 1fr)); */
  grid-gap: 1rem;
}

.twice img {
  width: 40dvw;
}
.logo-hdr {
  height: 7.75rem;
  width: auto;
  grid-column: 1/2;
  padding: 0.2rem;
}
.colist {
  grid-column: 2/3; grid-row: 1 / 3;
  display: flex;
  flex-direction: column-reverse;
  /* width: max-content; */
  margin: 0 auto;
  align-self: center;
  justify-content: flex-start;
  padding: 0.25rem 0.5rem;  /* 1rem 0.5rem; */

}
    .colist > div{
      display: flex;
    }


    .colist a {
      /*padding: 0.2rem 0 0.2rem 1rem;
       text-align: right; */
      justify-items: stretch;
  }
    .colist a em  {
      font-size: 80%;
  }

  .colist span {
   
    font-size: 80%;
    margin-top: 1.5rem;
    font-variation-settings: "wght" 400;
    color: var(--clr-second);
}

.cols.corp>div .colist span {
    margin-top: 0.5rem;
}

.colinfo {display: flex;     
  flex-direction: row-reverse;
  align-items: center;
  grid-gap: 1rem;
  border-bottom: 0.5px dotted;
  justify-content: space-between;
  /* max-width: 10rem; */
}
.intro .colinfo {border-top: 0;}

  .colinfo p {
    font-size: 0.85rem;
    text-align: center;
    font-variation-settings: "wght" 600;
    /* max-width: 30dvw; */
    text-align: left;
    padding: 0.25rem;
    letter-spacing: -0.25px;
}
    .colicon {    
      grid-row: 1/3;
      align-self: center;
      padding-top: 0.25rem;
      justify-self: center;
    }

.colicon  {min-width: 2rem;height: 2rem;}    
.onlineo img {min-width: 2rem;height: 2.3rem;} 
.onlineo{justify-self: center;}

@media screen and (max-width:768px) {
  .intro {
    display: flex;
    flex-direction: column;     padding: 1rem 1.5rem;
  }
  .intro a {
    border-radius: 0;
    margin-top: 1rem;         width: 100%;
}
.intro .colinfo {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 50px;
}
.intro .colinfo img {
  grid-row: 2/3;
  grid-column: 2/3;
}
.intro .colinfo h3 {
  grid-column: 1/2;
  grid-row: 2/3;
}
.intro .colinfo p {grid-column: 1/3;}

.topbtns {flex-direction: column;width: 100%;}
.colinfo p {
    font-size: 0.95rem;}
.twice {
  display: grid;
  box-shadow: none; grid-template-columns: 1fr;
  grid-gap: 1rem;
}
.twice img {
  width: 100%; 
}
.clients {
  display: flex;
  flex-direction: column;
}
.dflex .colinfo h3.btn {
    padding-right: 1.75rem;
    width: 90%;
}

}
.dflex .colinfo h3.btn {
  padding-right: 1.75rem;
}