:root {
  --clr-primary: #8C4B38;
  --clr-second: #662E19;
  --clr-light: #fff;
  --f-main: 'Work Sans', sans-serif;
  --fs-600: 1.4rem;
  --fs-500: 1.2rem;
  --fs-400: 1rem;
}

@font-face {
  font-family: 'Work Sans', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Work+Sans');
  /* weight-axis 300-900; */
}

*, *::before, *::after {
  box-sizing: border-box;
}

body, h1, h2, h3, p {
  margin: 0;
  font-variation-settings: "wght" 400;
}
a {text-decoration: none;color: var(--clr-primary);}
a:hover  {text-decoration: none;color: var(--clr-second);}

img.colicon {filter:invert(95%) sepia(10%) saturate(6336%) hue-rotate(300deg) brightness(99%) contrast(52%);}
a:hover img.colicon {filter: invert(20%) sepia(9%) saturate(5892%) hue-rotate(338deg) brightness(93%) contrast(92%);
  /* fill: var(--clr-second); */ animation-duration: 1s;
        animation-iteration-count: infinite;transform-origin: bottom;
}

section > * {padding:1rem 0;}
.bounce {
        animation-name: bounce;
        animation-timing-function: ease;
    }
    @keyframes bounce {
        0%   { transform: translateY(0); }
        50%  { transform: translateY(-5px); }
        100% { transform: translateY(0); }
    }
h1, h3 {
  font-variation-settings: "wght" 700;
}

h1, a > h1 {
  font-size: var(--fs-600);
}

h3, a > h3 {
  font-size: var(--fs-400);
  border: 1px solid;
    padding: 2px 0 2px 1rem;
    border-radius: 50px;
    margin-left: -0.75rem;
}

body {
  background: #fff;
  font-family: var(--f-main);
  color: var(--clr-primary);
}

main {display: grid;
grid-template-rows: 9rem 3rem auto;border: 3px solid #8C4B38;min-height: 100vh;align-items: center;}
.logo, .intro, section {
  padding: 1rem 2rem;
}

.intro {
  display: flex;
  align-items: center;
  color: var(--clr-light);
  font-weight: 500;
  background: var(--clr-primary);
  justify-content: space-between;
}
.intro div {
  display: flex;
}
.intro img {
  padding:0.5rem;
}

section h1{margin-bottom: 1rem;}
.logo-hdr {height:8rem; width:auto;}
.cols {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(18rem, 100%), 1fr));
  align-items: start; grid-gap: 1.25rem; border-bottom: 1px solid var(--clr-primary);
}

.twice {
  grid-column: 1/3;
}
.twice img {
  width: 100%;
}
.cols>div {
  padding-bottom: 1rem;
}
.colinfo {display: flex; 
    /* grid-template-columns: 1fr 3fr;
    grid-template-rows: 2.5rem 1fr; */
    align-items: center; grid-gap:1rem;}

    .colicon {    
      grid-row: 1/3;
      align-self: center;
      padding-top: 0.25rem;
      justify-self: center;
    }

.onlineo img, .colicon  {min-width: 2rem;min-height: 2rem;max-height: 3rem;}    

    .colist {
      display: flex;
      flex-direction: column;
    }
    .colist > div{
      display: flex;
    }
    .colist a { padding:1rem 0;}
    .colist a em  {
      font-size: 80%;
  }