---
title: Old School Foods | Home of Kachori Kaka
layout: 'base.njk'
---

<div class="anchor" id="weare">
</div>
<div class="osfcontain">
  <div class="story">
    <h2>Who we are</h2>
    <p>We are a group of food enthusiasts, researchers, creators, designers and craftsmen who understand food in depth before you consume</p>
    {# <p>One more statement - conveys enthusiasm to be in the food business</p> #}
  </div>
</div>
<div class="osfcontain">
  <div class="story">
    <h2>What we do</h2>
    <p>Our quest is for unique & well-loved comfort food recipes - to recognise them and bring them to your table.
      We combine craftsmanship, science, design and respect for food that creates an experience that can be shared with many.
    {# <p>Started out in Jan 2020 as a concept to be tested among the crowd by putting up a stall in one of the RWAs.</p> #}

    </p>
  </div></div>
  <div class="osfcontain">
  <div class="story">
    <h2>Wholesome values</h2>
    <p>
      - Learn more about our no-maida, no sugar, no plastic packaging approach<br />
- Why we invested deep research into finding the best oil<br />
- Why we incentivise consumers for their feedback<br />
- Why is safety important to us<br />
<a href="https://oldschoolfoods.in/blog/2021-09-11-our-ethos/" target="_blank">Read more about this on our blog</a>
    </p>
  </div></div>
  <div class="osfcontain">
  <div class="story">
    <h2>Work with OSF</h2>
    <p>We believe everyone is talented and contributes in their own capacity.
<a href="https://forms.gle/QtkmJZZcXzGfXaUW9" target="_blank">Schedule a meeting</a> to discuss how you’d like to contribute</p>
  </div>
</div>
<div class="anchor" id="products">
</div>
<section class="band white">
  <div class="osfcontain">
    <div class="trade">
      <h2>Brand Basket</h2>
    </div>
    <div class="story">
      <h2>Big missions start small.</h2>
      <p>On a pursuit of finding treasures in the form of unique recipes hidden around the world. The mission started with India’s favourite snack, Kachori.</p>
    </div>
    <div class="spot">
      <a href="https://kachorikaka.com" target="_blank">

        <p>
          <b>Legacy Brand:</b>
          {# Kachori Kaka #}
        </p>
          <img src="/assets/KK-logo.svg" alt="Kachori Kaka - coming soon">
      </a>
    </div>
    <div class="more">
      <h3>And more
        <br>coming soon!</h3>
    </div>
  </div>
</section>
<div class="anchor" id="contact">
</div>
<section class="band">
  <div class="osfcontain">
    <div class="story">
      <h2>Get in touch</h2>
      <p>
        <b>Phone:</b>
        8826000547</p>
      <p>
        <b>Email:</b>
        contact@oldschoolfoods.in</p>
      <p>
        <b>Address:</b>
        Near Galleria Market, Sector 28, Golf Course Road,<br> DLF Phase IV, Sector 28, Gurgaon 122001</p>
      <div class="social">
        <ul>
          <li>
            <a target="_blank" href="https://www.facebook.com/Old-School-Foods-113888357612020"><img src="/assets/icon-fb.svg" alt="OSF Facebook"></a>
          </li>
          <li>
            <a target="_blank" href="#"><img src="/assets/icon-insta.svg" alt="OSF Instagram"></a>
          </li>
          <li>
            <a target="_blank" href="https://wa.me/message/3KVST7Z2IZECK1"><img src="/assets/icon-wapp.svg" alt="connect on Whatsapp"></a>
          </li>
          <li>
            <a target="_blank" href="#"><img src="/assets/icon-linkd.svg" alt="View LinkedIn profile"></a>
          </li>
          <li>
            <a target="_blank" href="#"><img src="/assets/icon-yt.svg" alt="Youtube channel"></a>
          </li>
          <li>
            <a target="_blank" href="#"><img src="/assets/icon-tw.svg" alt="Twitter"></a>
          </li>
          <li>
            <a target="_blank" href="https://cutt.ly/1mI19iJ"><img src="/assets/icon-business.svg" alt="Google Business account"></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="trade">
      <a href="https://forms.gle/ZvyjwAps7NXjRJea9" target="_blank">
        <h2>Catering Requests</h2>
      </a>
    </div>
  </div>

</section>
