:root {
  --fs-200: 0.8375rem;
  --fs-300: 0.9375rem;
  --fs-400: 1.0625rem;
  --fs-500: 1.375rem;
  --fs-600: 1.875rem;
  --fs-700: 2rem;
  --ff-body: 'Libre Franklin', sans-serif;
  --ff-heading: 'Work Sans', sans-serif;
  --fw-300: 300;
  --fw-400: 400;
  --fw-600: 600;
  --fw-700: 700;
  --fw-900: 900;
  --clr-primary-200: hsla(0, 26%, 92%, 1);
  /* grey pink*/
  --clr-primary-300: hsla(11, 32%, 64%, 1);
  /*dusty rose*/
  --clr-primary-400: hsla(14, 43%, 38%, 1);
  --clr-primary-400A: hsla(14, 43%, 38%, .7);
  --clr-primary-600: hsla(16, 61%, 25%, 1);
  /*dark brown*/
  --clr-primary-500: hsla(16, 61%, 25%, 1);
  --clr-neutral-100: hsla(0, 0%, 100%, 1);
  /*white*/
  --clr-neutral-300: hsla(0, 0%, 50%, 1);
  --clr-neutral-400: hsla(0, 0%, 40%, 1);
  --clr-neutral-500: hsla(0, 0%, 60%, 1);
  --clr-neutral-900: hsla(0, 0%, 10%, 1);
  /*black*/
}

@media (min-width: 35em) {
  :root {
    --fs-200: 0.8375rem;
    --fs-300: 0.85rem;
    --fs-400: 1.125rem;
    --fs-500: 1.5rem;
    --fs-600: 2.25rem;
    --fs-700: 3rem;
  }
}

/* //////////////////////
  RESET - source: https://piccalil.li/blog/a-modern-css-reset
  /////////////////////// */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul:where([role="list"]),
ol:where([role="list"]) {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}
.anchor {padding-top: 6em;
margin-top: -6em;}
:target:before {
  content: "";
  display: block;
  height: 6em;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background: url(./assets/harsh-pandey-dXGl11H1Kbg-unsplash.jpg) left no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-attachment: fixed;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: var(--clr-primary-600);
  text-decoration: none;
  font-weight: var(--fw-600);
}

a:not([class]):hover {
  color: var(--clr-primary-400);
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* //////////////////////
  General styling
  /////////////////////// */
body {
  font-family: var(--ff-body);
  font-size: var(--fs-300);
  color: var(--clr-neutral-900);
}

h1,
h2,
h3 {
  font-family: var(--ff-heading);
  font-weight: var(--fw-900);
  line-height: 1.1;
  padding-top: 0.5rem;
}

strong {
  font-weight: var(--fw-700);
}

section,
.section {
  padding: min(10vh, 10em) 0;
}

header {
  background: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
}

/* ////////////////////// --clr-primary-300
  Utility Classes
  /////////////////////// */
/* select all direct childen of .flow
   and add margin to the top for proper
   spacing */
.flow>*:where(:not(:first-child)) {
  margin-top: var(--flow-spacer, 1em);
}

.beaut>*:where(:not(:first-child)) {
  margin-top: var(--flow-spacer, 1em);
}

.container {
  margin-inline: auto;
  padding-inline: 1.5em;
  max-width: 72rem;
  margin: 0 4rem;
  background: var(--clr-neutral-100);
}

.container--narrow {
  max-width: 65rem;
}

.flex-group {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap, 1em);
}

.text-center {
  text-align: center;
}

/* typgraphy */
.article-title,
.section-title {
  color: var(--clr-primary-600);
}

.article-title {
  font-size: var(--fs-700);
}

.section-title {
  font-size: var(--fs-600);
}

/* //////////////////////
  Header
  /////////////////////// */
.osfcontain {
  display: grid;
  grid-template-columns: repeat(6, minmax(150px, 1fr));
  grid-gap: 0.15rem;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 4rem;
}

header .osfcontain ul {
  padding: 1rem 0.75rem;
}

header .osfcontain li {
  list-style: none;
}

header .osfcontain a {
  color: var(--clr-primary-400);
  text-decoration: none;
}

header .osfcontain a:hover, header a:focus {
  color: var(--clr-primary-500);
  text-decoration: none;
}

.logo, .subhead, .menu, .social, .story, .trade, .spot {
  grid-row: 1/2
}

.logo {
  grid-column: 1/3;
  justify-content: flex-end;
  align-content: flex-end;
}

.logo img {
  height: 8rem;
}

.subhead {
  grid-column: 3/5;
  padding: 1rem;
  font-family: var(--ff-heading);
  line-height: var(--fs-500);
  font-size: var(--fs-500);
  font-weight: var(--fw-700);
  color: var(--clr-primary-400);
  text-transform: capitalize;
  /* justify-self: flex-end; */
}

.menu {
  grid-column: 5/6;
  /* justify-self: flex-end; */
}

.social {
  grid-column: 6/7;
}

.menu, .social {
  font-size: var(--fs-300);
}

.menu ul {
  border: 2px solid var(--clr-primary-400);
  height: 8rem;
  width: 8rem;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.social img {
  margin: 0.75rem 0;
}

/*height: 1rem;*/
/* .social ul {display: grid; grid-template-columns: repeat(2, 30px);} */
.social li {}

/* //////////////////////
  body
  /////////////////////// */
main {
  margin-top: -1rem;
}

.story {
  grid-column: 2/5;
  background: var(--clr-primary-400A);
  padding-left: 150px;
}

p {
  font-size: var(--fs-300);
  font-weight: var(--fw-300);
}

.story p, .story h2 {
  color: var(--clr-neutral-100);
  background: var(--clr-primary-400);
  padding: 0.5rem 2rem;
}

.story p:last-child {
  padding-bottom: 2rem;
}

.story h2 {
  padding-top: 2rem;
}

.trade {
  grid-column: 5/6;
  align-self: flex-start;
  align-content: center;
  height: 8rem;
  width: 8rem;
  color: var(--clr-neutral-100);
  padding: 1rem;
  background: var(--clr-primary-300);
  display: grid;
  place-content: center;
}

.spot {
  grid-column: 5/6;
  height: 8rem;
  width: 8rem;
  display: grid;
  text-align: center; place-content:center;
}

.spot:hover {
  background: hsla(57, 93%, 58%, 1);
}

.spot img, .trade.spot img {
  justify-self: center; display: inline; width:5rem;
}

section.band {
  padding: 0.25rem 0;
}

section.band.white, section.band.white .trade h2 {
  background: var(--clr-neutral-100);
  color: var(--clr-primary-600);
}

section.band .trade a {
  color: var(--clr-neutral-100);
}

section.band .trade a:hover {
  color: var(--clr-primary-500);
}

section.band {
  background: var(--clr-primary-200);
  color: var(--clr-primary-600);
}

section.band .story {
  background: none;
  padding-left: 0;
}

section.band .trade {
  border: none;
  align-self: auto;
}

section.band.white .trade {
  grid-column: 1/2;
  border: 2px solid var(--clr-primary-400);
  background: var(--clr-neutral-100);
  color: var(--clr-primary-600);
}

section.band .story p, section.band .story h2 {
  color: var(--clr-primary-600);
  background: none;
}

section.band .social ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  padding: 0;
  width: 80%;
}

section.band .social ul img {
  height: 1.25rem;
}

.page-header {
  padding: 0.25em;
}

.page-header__content {
  display: flex;
  justify-content: space-between;
}

.nav-list {
  margin: 0;
  padding: 0;
}

.nav-list a {
  color: var(--clr-neutral-900);
  text-decoration: none;
}

.nav-list a:focus,
.nav-list a:hover {
  color: var(--clr-primary-400);
  text-decoration: underline;
}

/* //////////////////////
  Footer
  /////////////////////// */
.site-footer {
  border-top: 1px solid #fff;
  margin: 1rem 4rem;
  padding: 0.5em 0;
  color: var(--clr-neutral-100);
}

/* //////////////////////
  Homepage
  /////////////////////// */
.hero>div {
  display: grid;
  grid-auto-flow: row;
  grid-auto-columns: 3fr 6fr;
  align-items: center;
  gap: 3em;
}

.hero p:last-child, article p:last-child {
  padding-bottom: 1.5rem;
}

.hero__image {
  width: 100%;
  /* max-height: max(15rem, 40vh); */
  object-fit: cover;
}

@media (min-width: 45em) {
  .hero>div {
    grid-auto-flow: column;
  }
}

.featured-articles {
  background-color: var(--clr-primary-200);
}

.articles__list {
  --flow-spacer: 3rem;
  margin: 6rem 0;
}

/* //////////////////////
  Individual article page
  /////////////////////// */
.main-article {
  margin-bottom: 3rem;
  margin-top: 2rem;
}

.main-article__figure figcaption {
  margin: 1rem 0;
  font-size: var(--fs-300);
  opacity: .9;
}

/* //////////////////////
  Article snippets
  /////////////////////// */

.snippet {
  display: grid;
  gap: 1em;
  grid-template-areas:
    "image"
    "title"
    "meta"
    "body"
    "button";
}

.snippet__image {
  grid-area: image;
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.snippet__title {
  grid-area: title;
}

.snippet__meta {
  grid-area: meta;
  color: var(--clr-neutral-300);
}

.snippet__meta span {
  color: var(--clr-neutral-900);
}
.rtime {padding-top:0.25rem; font-weight: var(--fw-700); padding-left:1.5rem; background:url(./assets/icon-timer.svg) left no-repeat; background-size: 1.2rem;}

.snippet .btn {
  grid-area: button;
}

.snippet__title {
  color: var(--clr-neutral-900);
  font-size: var(--fs-500);
}

.snippet__title a {
  color: inherit;
  text-decoration: none;
}

.snippet__title a:hover,
.snippet__title a:focus {
  color: var(--clr-primary-500);
}

@media (min-width: 45em) {
  .snippet {
    grid-template-areas:
      "title image"
      "meta image"
      "body image"
      "button image";
    grid-column-gap: 4em;
    grid-template-columns: 1fr 40%;
    grid-template-rows: min-content min-content min-content 1fr;
  }
}

.btn {
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  line-height: 1;
  padding: 0.75em 1.75em;
  border-radius: 0.25em;
  align-self: start;
  justify-self: start;
}

.btn:focus {
  /* outline: 0.125em solid var(--clr-primary-400);
  outline-offset: 0.25em; */
}

.btn--primary {
  background: var(--clr-primary-400);
  color: var(--clr-neutral-100);
  font-weight: var(--fw-700);
  border: 2px solid var(--clr-primary-400);
}

.btn--primary:hover,
.btn--primary:focus {
  background: var(--clr-primary-500);
  border-color: var(--clr-primary-500);
}

.btn--neutral {
  background-color: var(--clr-neutral-100);
  color: var(--clr-neutral-900);
  font-weight: var(--fw-700);
  border: 2px solid var(--clr-neutral-900);
}

.btn--neutral:hover,
.btn--neutral:focus {
  color: var(--clr-neutral-100);
  background-color: var(--clr-neutral-900);
}

.beaut {
  top-margin: 10rem;
}

.beaut h1 {
  color: var(--clr-primary-400);
  background: var(--clr-neutral-100);
  border-top: 1px solid var(--clr-primary-300);
  position: sticky;
  -webkit-position: sticky;
  top: 11.2rem;
  width: 14.5rem; z-index:5;
}

.beaut h2 {
  width: 12.5rem;
  /* background: var(--clr-neutral-100); */
  color: var(--clr-neutral-900);
  border-top: 1px solid var(--clr-neutral-300);
  position: sticky;
  -webkit-position: sticky;
  top: 15.5rem;
  font-size: var(--fs-400);
}

.beaut p, .beaut ul, .beaut ol, .beaut table, .beaut h3, .beaut h4, .beaut details {
  margin-left: 15rem;
}

.beaut li>ul, .beaut li>ol, .beaut li>h2, .beaut li>p, .beaut details p {
  margin: 0
}

.beaut p {
  padding-bottom: 0.5rem;
  text-align: justify;
}

.beaut td {
  font-weight: normal;
  font-size: 1em;
-webkit-box-shadow: 0 2px 2px -2px #0E1119;
   -moz-box-shadow: 0 2px 2px -2px #0E1119;
        box-shadow: 0 2px 2px -2px #0E1119;
}

.beaut table {
  text-align: left;
  overflow: hidden;
  width: 75%;display: table;
  background: var(--clr-neutral-100);
  padding:1rem 0;
}

.beaut td, .beaut th {
  padding-bottom: 2%;
  padding-top: 2%;
padding-left:2%; font-size: 0.85rem;
}

/* Background-color of the odd rows */
.beaut tr:nth-child(odd) {
  background-color: var(--clr-neutral-100);
}

/* Background-color of the even rows */
.beaut tr:nth-child(even) {
  background-color: var(--clr-primary-200);
}

.beaut th {
  color: var(--clr-primary-600);font-size: 0.7rem; padding:0 0.4rem;
}

.art_meta {padding: 1rem 0 2rem 0;margin-top:2rem; border-top:2px solid var(--clr-primary-300); color: var(--clr-primary-600);}

@media (max-width: 45em) {
  .anchor {padding-top: 3em;
  margin-top: -3em;}
  :target:before {
    content: "";
    display: block;
    height: 3em;
  }
  .container, .osfcontain, .site-footer {
    margin: 1rem;
  }

  header .osfcontain ul {
    padding: 0.5rem;
  }

  .osfcontain {
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1rem;
    padding-top: 1rem;
  }

  .logo {
    grid-column: 1/3;
    grid-row: 1/2;
  }

  .logo img {
    height: 3rem;
  }

  .menu {
    grid-column: 1/7;
    grid-row: 2/3;
  }

  .menu ul {
    border: 2px solid var(--clr-primary-400);
    display: flex;
    flex-direction: row;
    height: auto;
    width: auto;
    justify-content: space-between;
    padding: 0;
    margin: 0;
  }

  .subhead {
    grid-column: 4/7;
    grid-row: 1/2;
    font-size: var(--fs-400);
    padding: 0;
  }

  .social {
    display: none;
    grid-column: 1/7;
    grid-row: 3/4;
  }
section.band .social {display: contents;display:flex;justify-content: space-evenly;}
section.band .social img {height:1.5rem;}

  .story, .trade, section.band.white .trade {
    grid-column: 1/7;
  }

  .story {
    grid-row: 2/3;
    padding-left: 0;
  }

  .trade {
    grid-row: 1/2;
    width: auto;
    height: auto;
  }
  .spot {grid-column:1/4 ;grid-row: 3/4;
  width: auto;
  height: auto;}
  .more {grid-column:5/7 ;grid-row: 3/4;}

  .beaut {
    display: inline;
  }

  .beaut h1, .beaut h2 {
    width: 100%;
    position: static;
  }
  .beaut ul > li , .beaut ol > li {font-size: var(--fs-300);}
  .beaut td {font-size: var(--fs-200);}
  .beaut p, .beaut ul, .beaut ol, .beaut table, .beaut h2,
  .beaut h3, .beaut h4, .beaut details, .beaut details p {
    margin-left: 0;
  }

  .beaut summary {padding:0.25rem 0;}
.beaut table {width:99%;}

/* .beaut td:first-child { color: #FB667A; } */
}
.tabcols {
margin: auto;
min-width: 300px;
max-width: 100%;
border-collapse: collapse;
}

/* Background-color of the odd rows */
.tabcols tr:nth-child(odd) {
  background-color: var(--clr-neutral-100);
}

/* Background-color of the even rows */
.tabcols tr:nth-child(even) {
  background-color: var(--clr-neutral-100);
}

.tabcols tr {
border-top: 1px solid #ddd;
border-bottom: 1px solid #ddd;
background-color: var(--clr-neutral-100);
}

.tabcols tr:nth-child(odd):not(:first-child) {
background-color: var(--clr-primary-200);
}

.tabcols th {
display: none;
}

.tabcols td {
display: block;
}

.tabcols td:first-child {
margin-top: .5em;
}

.tabcols td:last-child {
margin-bottom: .5em;
}

.tabcols td:before {
content: attr(data-th) ": ";
font-weight: bold;
width: 120px;
display: inline-block;
color: #000;
}

.tabcols th,
.tabcols td {
text-align: left;
}

.tabcols {
color: #333;
border-radius: .4em;
overflow: hidden;
}

.tabcols tr {
border-color: #bfbfbf;
}

.tabcols th,
.tabcols td {
padding: .5em 1em;
}
@media screen and (max-width: 601px) {
.tabcols tr:nth-child(2) {
border-top: none;
}
}
@media screen and (min-width: 600px) {
/* .tabcols tr:hover:not(:first-child) {
background-color: #d8e7f3;
} */
.tabcols td:before {
display: none;
}
.tabcols th,
.tabcols td {
display: table-cell;
padding: .25em .5em;
}
.tabcols th:first-child,
.tabcols td:first-child {
padding-left: 0;
}
.tabcols th:last-child,
.tabcols td:last-child {
padding-right: 0;
}
.tabcols th,
.tabcols td {
padding: 1em !important;
}
}
